/* 夜间模式背景样式 */
.back {
    border: 1px solid #333; /* 边框颜色设置为深灰色 */
    padding: 20px; /* 添加一些内边距 */
    margin: 20px; /* 添加外边距 */
    background-color: #333; /* 深灰色背景 */
    color: #ccc; /* 文本颜色调整为浅灰色 */
}

/* 修正并设置文本颜色 */
.d1 {
    color: #ccc; /* 浅灰色文字 */
}

.d1 img {
    vertical-align: middle; /* 使图片和文本垂直居中 */
    margin-right: 10px; /* 图片右侧添加一些间距 */
    float: left;
}

.d2, .d3, .d4 {
    margin-top: 20px; /* 各个部分之间添加顶部间距 */
}

/* 特定按钮样式 */
.d2 button, .d3 button {
    background-color: #005A32; /* 深绿色背景，适合夜间模式 */
    color: #ccc; /* 白色文字调整为浅灰色 */
    border: none; /* 去除边框 */
    padding: 10px 20px; /* 添加内边距 */
    cursor: pointer; /* 鼠标悬停时显示指针 */
    border-radius: 5px; /* 边框圆角 */
    transition: background-color 0.3s; /* 过渡效果 */
}

.d2 button:hover, .d3 button:hover {
    background-color: #003D22; /* 鼠标悬停时背景色变深 */
}

/* 输入框样式 */
#searchId {
    padding: 10px; /* 内边距 */
    border: 1px solid #333; /* 深灰色边框 */
    border-radius: 5px; /* 边框圆角 */
    width: calc(100% - 122px); /* 宽度自适应，减去搜索按钮的宽度和间距 */
    margin-right: 10px; /* 右侧间距 */
    background-color: #444; /* 深灰色背景 */
    color: #ccc; /* 文本颜色调整为浅灰色 */
}

/* 搜索结果和问题列表容器样式 */
#questionsAndAnswers, #questionList {
    margin-top: 20px; /* 顶部间距 */
    border: 1px solid #333; /* 深灰色边框 */
    padding: 10px; /* 内边距 */
    background-color: #444; /* 深灰色背景 */
    border-radius: 5px; /* 边框圆角 */
    color: #ccc; /* 文本颜色调整为浅灰色 */
}