body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #333; /* 深灰色背景 */
    color: #ccc; /* 浅灰色文字 */
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #222; /* 深黑色背景 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 更深的阴影以在暗色背景下更可见 */
}

/* 图片样式 */
.container img {
    float: left;
    margin-right: 15px;
    border-radius: 50%; /* 圆形图片 */
    /* 可以考虑添加边框或滤镜以增强夜间模式下的可见性 */
}

/* 按钮样式 */
button {
    background-color: #005A32; /* 亮绿色背景，保持与日间模式一致以提供对比 */
    color: #ccc;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #00A83B; /* 鼠标悬停时背景色变深 */
}

/* 搜索容器样式 */
.search-container {
    margin-top: 20px;
    position: relative;
}

.search-container input[type="text"] {
    width: calc(100% - 42px); /* 减去按钮的宽度和间距 */
    padding: 10px;
    border: 1px solid #666; /* 深灰色边框 */
    border-radius: 5px 0 0 5px; /* 左侧圆角 */
    background-color: #444; /* 深灰色背景 */
    color: #ccc; /* 浅灰色文字 */
    outline: none; /* 去除焦点时的蓝色边框 */
}

.search-container button {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0; /* 右侧圆角 */
}

/* 问题和答案容器样式 */
.question-container {
    margin-top: 20px;
    border: 1px solid #666; /* 深灰色边框 */
    padding: 10px;
    background-color: #333; /* 深灰色背景 */
    border-radius: 5px;
    color: #ccc; /* 浅灰色文字 */
}